<div>
	<div id='regles'>
		<h3> Règles</h3>
		<h4>Quel est le but du jeu ?</h4>
		<p>Le but est très simple. Nous vous présentons successivement dix photos prises dans une même ville, votre objectif étant, après avoir pris le temps souhaité pour visionner une photo, de placer celle-ci sur la carte de façon à être le plus proche possible du point où la photo a été prise.</p>

		<h4>Comment se déroule une partie ?</h4>
		<p>Après avoir cliqué sur "Jouer", la carte apparaît, et vous pouvez alors démarrer la partie. Une photo vous est alors présentée et une fois le bouton "Go" enclenché, vous aurez dix secondes pour placer le plus précisément possible l'emplacement qui vous semble le plus approprié pour la prise de cette photo.</p>
		<p>ATTENTION, tout clic sur la carte lors d'une partie en cours est DEFINITIF et sera enregistré comme une réponse.</p>

		<h4>Comment sont calculés les scores ?</h4>
		<p>Deux paramètres sont pris en compte pour établir les scores :</p>
		<ul>
			<li>La distance séparant votre emplacement et l'origine de la photo : La précision demandée varie selon le niveau de difficulté et permet d'établir des points de base pour la manche de jeu.
			</li>
			<li>Le temps de réponse, variant également selon le niveau de difficulté et correpondant au multiplicateur appliqué aux points obtenus pendant la manche de jeu.</li>
		</ul>

		<h4>Comment puis-je consulter les meilleurs scores ?</h4>
		<p>En cliquant sur la rubrique "Score" du menu.</p>

		<h4>Comment puis-je contacter les développeurs de ce jeu ?</h4>
		<p>Vous ne pouvez pas.</p>
	</div>
</div>
