{% extends "main.html.twig" %}

{% block main_content %}
    <div class="row">
       <form class="col-sm-6 col-sm-offset-3" action='{{traitementForm}}' method='post' enctype="multipart/form-data">

          <h3> Modifier les paramètres </h3><br>

          <div class="form-group">
            <label for="Difficulte"> Difficulte</label>
            <select name="difficulte">
              {% for difficulte in difficultes %}
                  <option value="{{ difficulte.label|e }}">{{ difficulte.label|e }}</option>
              {% endfor %}
             </select>
          </div>

          <div class="form-group">
            <label for="Distance"> Distance</label>
            <input type="number" name='distance' class="form-control" id="distance" placeholder="distance" step="1"/>
          </div>

         <div class="form-group">
            <label for="Temps"> Temps</label>
            <input type="number" name='temps' class="form-control" id="temps" placeholder="temps" step="1"/>
          </div>

          <input type="hidden" name="_METHOD" value="PUT"/>
          
          <div class="button-container">
            <input class="btn btn-default" type="submit" value="Submit" name="Submit"/>
            <input class="btn btn-default" type="reset" value="Reset" name="reset"/>
          </div>
       </form>
       <ul>
</ul>
    </div>
{% endblock %}