{% extends "main.html.twig" %}

{% block main_content %}
	<div class='row'>
	    <div class='col-sm-6 col-sm-offset-3 '>
	       <h3>Administration</h3><br>
	       <a href="{{urlFormAddImage}}" class="btn btn-primary btn-lg btn-block">Ajouter des images</a>
	       <a href="{{urlFormModifParam}}" class="btn btn-primary btn-lg btn-block">Modifier les paramètres</a>
	    </div>
    </div>
{% endblock %}